@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased;
    }
}

/* Custom receipt font if needed, or just use monospace for the receipt text */
.font-receipt {
    font-family: 'Courier New', Courier, monospace;
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}